@model IEnumerable<eGreetings.Models.Feedback>

    <h2>Users Feedbacks</h2>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                   
                    <th>Email</th>
                    <th>Message</th>
                    <th>Registration Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Feedbacks in Model)
            {
                <tr>

                    <td>@Feedbacks.UserId</td>
                    <td>@Feedbacks.Message</td>
                    <td>@Feedbacks.FeedbackDate?.ToString("MM/dd/yyyy")</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
