<div class="h-100 w-100 bg-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-12 my-5">
                <h1 class="text-center display-3">
                    Helloo <span class="text-dark">Admin</span>
                </h1>
            </div>
            <div class="col-lg-4 col-md-3 col-1">
                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="Users">Users</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="Feedback">Feedback</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="UserRoles">User Roles</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="CardDesigns">Card Design</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="Reports">Reports</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="Subscriptions">Subscriptions</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="SystemLogs">System Logs</a>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="w-100 border bg-danger rounded-3 py-2 px-3">
                            <a class="fs-4 text-white text-decoration-none" asp-action="Index" asp-controller="Transactions">Transactions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>