@model eGreetings.Models.DesignElement

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DesignElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DesignId" class="control-label"></label>
                <select asp-for="DesignId" class ="form-control" asp-items="ViewBag.DesignId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ElementType" class="control-label"></label>
                <input asp-for="ElementType" class="form-control" />
                <span asp-validation-for="ElementType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentUrl" class="control-label"></label>
                <input asp-for="ContentUrl" class="form-control" />
                <span asp-validation-for="ContentUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextContent" class="control-label"></label>
                <input asp-for="TextContent" class="form-control" />
                <span asp-validation-for="TextContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionX" class="control-label"></label>
                <input asp-for="PositionX" class="form-control" />
                <span asp-validation-for="PositionX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionY" class="control-label"></label>
                <input asp-for="PositionY" class="form-control" />
                <span asp-validation-for="PositionY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
